  body {
    background: url(../images/circles-dark.png);
    font-family: 'Abel', sans-serif;
  }

  p {
    font-size: 10px;
  }

  h6 {
    margin: 0px;
  }

  .container {
    border: 2px solid #dddddd;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
  }

  #mypicture {
    height: 250px;
    width: 2500px;
    float: left;
    margin-right: 10px;
  }

  #first-about {
    clear: left;
  }

  #caption {
    position: absolute;
    color: white;
    height: 60px;
    width: 100%;
    background-color: #1565C0;
    text-align: center;
    margin-top: 165px;
    padding: 20px;
    font-size: 24px;
  }

  #portpic1 {
    background-image: url("../images/hangman_spn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
  }

  #portpic2 {
    background-image: url("../images/rpg-game.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
  }

  #portpic3 {
    background-image: url("../images/trivia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
  }

  #portpic4 {
    background-image: url("../images/gifmaker.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
  }

  #portpic5 {
    background-image: url("../images/train-schedule.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background-size: cover;
  }

  .page-footer {
    padding: 5px;
  }

  @media only screen and (max-width: 980px) and (min-width: 768px) {
    #mypicture {
      height: 200px;
      width: 200px;
      float: left;
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 768px) and (min-width: 640px) {
    #mypicture {
      height: 150px;
      width: 150px;
      float: left;
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 640px) {
    /* I was hoping this would help with the navbar but I honestly don't think it's doing anything */
    nav a.button-collapse {
      display: block;
    }
    #mypicture {
      height: 100px;
      width: 100px;
      float: left;
      margin-left: 30px;
      margin-bottom: 10px;
    }
  }